.newButton{
    color: white;
    background-color: lightblue;
    height: 24px;
    width: 84px;
    text-align: center;
}

.firstTable {
    width: 85%;
    margin: auto;
}

.secondTable {
    width: 85%;
    margin: auto;
}

table th {
    background-color: white;
    padding: 10px 20px;
    border-bottom: solid;
    border-bottom-color: grey;
}
  
table td {
    background-color: white;
    padding: 10px 20px;
    border-bottom: solid;
    border-bottom-color: grey;
}
  